@model news_engine.Models.Article

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


<form id="createArticleForm" method="post" enctype="multipart/form-data" onsubmit="return AjaxPost(this)">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Article</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ArticleId)
        @Html.HiddenFor(model => model.UserId)
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Select article category</label>
            <div class="col-md-10">
                @Html.DropDownList("newCategory", new SelectList(ViewBag.categories, "Value", "Text", Model.Category.CategoryId.ToString()), null, new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Thumbnail</label>
            <div class="col-md-10">
                <input class="form-control" id="Thumbnail" name="Thumbnail" type="file" accept="image/*" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RedirectLink, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RedirectLink, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RedirectLink, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function AjaxPost(formData) {
            if ($("Thumbnail").)
            alert(form.keys);
            var ajaxConfig = {
                type: "post",
                url: "/Articles/Edit/" + @Model.ArticleId.ToString(),
                data: new FormData(formData),
                success: function (result) {
                    alert(result);
                    window.location.href = "/Articles/Edit/" + @Model.ArticleId.ToString();
                }
            };
            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }

    </script>
}

