@using PagedList.Mvc;
@model PagedList.IPagedList<news_engine.Models.Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@if (User.IsInRole("Administrator") || (User.IsInRole("Editor")))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
@using (Html.BeginForm())
{
    <p>
        Find by titles: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

@foreach (var article in Model)
{
    @Html.Partial("_Article", article)
}

</table>
<div class="pg-container">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>
